# =========================
# Dataset
# =========================

data/
*.parquet
*.tsv
*.csv

# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Generated outputs
# =========================

output/*